
*
{
  font-family:Arial;
}

a:href
{
  font-size: 24px;
}

a:link
{
  font-size: 24px;
}

button
{
  font-size: large;
  height:32px;
}

hr
{
  height: 2px;
  width: 100%;
}

.app_img
{
  border: 1px solid;
  width: 128px;
  height: 128px;
}

table
{
  text-align: left;
  width: 100%;"
  border: 0;
}

tbody
{
  vertical-align: top;
  text-align: center;
  font-weight: bold;
}

.theader
{
  colspan: 4;
  text-align: center;
  font-size: 24pt;
}

